@font-face {
    font-family: "child";
    src: url('/font/font.ttf') format('truetype');
}

body {
    font-family: "child", "PT Sans", Calibri, Tahoma, sans-serif;
    background: #F57184;
    background: -webkit-linear-gradient(30deg, #F7FA8F, #F57184, #90BFC2);
    background: linear-gradient(30deg, #F7FA8F, #F57184, #90BFC2);
    font-size: 150%;
    font-weight: 900;
}

.multicolortext {
    background-image: linear-gradient(to left,
                                      violet, indigo, green, blue, yellow, orange, red,
                                      violet, indigo, green, blue, yellow, orange, red,
                                      violet, indigo, green, blue, yellow, orange, red);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: -0.03em -0.03em 0.03em #CCCCCC, -0.05em -0.05em 0 #FFFFFF;
}

.box {
    border: solid lightpink;
    margin: 10px;
    background-color: rgba(.5, .5, .5, .4);
    padding: 10px;
    z-index: 0;
}

.character-img {
    width: 32px;
}

.right-align {
    float: right;
}

.nospace {
    line-height: 0.1em;
}

.nobr {
    white-space: nowrap;
}

.timestamp {
    color: lightgray;
    text-shadow: none;
    font-weight: 400;
    font-size: 0.6em;
}

.ui-button {
    font-family: "child", "PT Sans", Calibri, Tahoma, sans-serif;
    font-size: 0.75em;
    height: 2em;
    border: 0.25em ridge  #F7FA8F;
    border-right-color: #90BFC2;
    border-bottom-color: #F57184;
    border-bottom-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    background-color: rgba(0, 0, 0, 0);
    margin: 10px;
}

.ui-button:hover {
    border: 4px ridge  #F7FA8F;
    border-left-color: #90BFC2;
    border-top-color: #F57184;
    border-bottom-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
}

.ui-button:active {
    border: 4px dotted  #F56342;
    border-bottom-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
}

.hidden {
    visibility: hidden;
}

.react-select-container {
    width: 100%;
    overflow: visible;
    z-index: 99;
}

.small-icon {
    width: 16px;
}

.game-history {
    display: flex;
    flex-wrap: wrap;
}

.game-input {
    display: flex;
    white-space: nowrap;
}
