<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Some crappy app about smash and wonderfull coworkers" />
        <link rel="stylesheet" href="css/core.css">
    </head>
    <body>
        <input id="csrf-token" type="hidden" value="{{csrf-token}}"></input>
        <div id="app"></div>
        <script type="text/javascript" src="/js/app.js"></script>
        <title>Super Stats Bros</title>
    </body>
</html>
